/*styles for home content only*/
@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
@import './../app.component.styl'

.loginContainer
	margin 0 auto
	width 15em
	form
		width 100%
		display block
	md-input-container
		column(1)
	button
		column(1/2)