@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
@import './../app.component.styl'
header
	height 6em
	width 100%
	max-width 100%
.nav-left
	column(1/8)
	margin-top 1.5em
	img
		width 4em
.nav-right
	float right
	margin-top 2em