<header>
  <div class="inner-container">
    <div class="nav-left">
      <a routerLink="home">
        <img src="../../assets/icon/apple-icon-120x120.png">
      </a>
    </div>
    <div class="nav-right">
      <div *ngIf="!isAuth">
        <button md-raised-button color="primary" [routerLink]=" ['./login'] " class="btn-invert" style="margin-right:1em">Login</button>
        <button md-raised-button color="primary" [routerLink]=" ['./signup'] " class="btn">Sign up</button>
      </div>
      <div *ngIf="isAuth">
        <button md-raised-button color="primary" [routerLink]=" ['./dashboard'] " class="btn-invert" style="margin-right:1em">Dashboard</button>
        <button md-raised-button color="primary" (click)="logout()" [routerLink]=" ['./home'] " class="btn">Sign Out</button>        
      </div>

    </div>
  </div>
</header>