/*styles for home content only*/
@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
@import './../app.component.styl'

form
	display block
	margin 0 auto
	width 15em
	md-input-container
		width 100%
	button
		column(1/2)