/*styles for home content only*/
@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
@import './../app.component.styl'

.home-first
	height 30em
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3277ff+50,531363+100&0+0,0.7+50,1+100 
	background: -moz-linear-gradient(top,  rgba(50,119,255,0) 0%, rgba(50,119,255,0.7) 50%, rgba(83,19,99,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(50,119,255,0) 0%,rgba(50,119,255,0.7) 50%,rgba(83,19,99,1) 100%); 
	background: linear-gradient(to bottom,  rgba(50,119,255,0) 0%,rgba(50,119,255,0.7) 50%,rgba(83,19,99,1) 100%); 
	*/

.home-second, .home-fourth
	height 40em
	background color-primary
	color white
	h1, p
		color white
.home-third
	height 40em
	background white