<section class="home-first">
	<div class="inner-container">
		<div style="font-size: 2.5em">
			<h1 class="upcrue" style="margin-bottom: 0">Upcrue</h1>
			<p style="margin-top: 0">Start earning 6% annually<br>on your account balance.</p>
		</div>
		<div style="font-size: 2em">
			<p style="margin: 0">Flat 6% annual returns.</p>
			<p style="margin: 0">Compounded monthly.</p>
			<p style="margin: 0">No commitment.</p>
			<p style="margin: 0">No penalties.</p>
		</div>
	</div>
</section>

<section class="home-second">
	<div class="inner-container" style="padding-top: 1em;">
		<div style="font-size: 2em;">
			<h1>No more negative returns</h1>
		</div>
	</div>
</section>

<section class="home-third">
	<div class="inner-container">
		<div style="font-size: 2em;">
			<h1>Compare</h1>
		</div>
	</div>
</section>

<section class="home-fourth">
	<div class="inner-container" style="padding-top: 1em;">
		<div style="font-size: 2em;">
			<h1>Serious security</h1>
		</div>
	</div>
</section>